body {
  background-color: #CCC;
}

.main-container {
  background-color: #EEE;
  border-radius: 10px;
  display: flex;
  height: 550px;
  justify-content: center;
  margin: auto;
  width: 740px;
}

.inner-container {
  background-color: #EEE;
  height: 97%;
  margin: auto;
  width: 611.6px;
}

#button-panel {
  margin: 10px;
  width: 80px;
}

button {
  border-radius: 4px;
  color: #444;
  font-weight: bold;
  height: 25px;
  margin: 5px 0 5px 0;
  width: 70px;
}
select {
  height: 25px;
  margin: 5px 0 5px 0;
  width: 70px;
}
#canvas {
  background-color: #FFF;
  border: 1px solid #CCC;
  height: 419.1px;
  margin: 5px 5px 0 5px;
  padding: 0;
}

#palette {
  height: 18%;
  margin: 5px 0 0 0;
}

#palette div {
  display: flex;
}

#color-label {
  background-color: #EEE;
  color: #444;
  font-weight: bold;
  height: 20px;
  padding-left: 10px;
  margin: 7px 10px 0 0;
}

#history {
  width: 320px;
  height: 25px;
  margin-top: 5px;
  display: flex;
}

#color-chooser {
  height: 20px;
  float: right;
  margin-top: 5px;
  margin-left: auto;
  margin-right: 7px;
}

.pixel {
  border: 1px solid #CCC;
  float: left;
  height: 10px;
  width: 10px;
}

.color-palette {
  border-color: #A8A8A8;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  float: left;
  height: 20px;
  margin: 8px 5px 3px 5px;
  width: 20px;
  align-items: flex-start;
}
